<h2>Code Summary</h2>
<form style="display: flex; flex-direction: column; gap: 15px;">
  <div style="display: flex; align-items: center;">
    <label style="width: 120px;">Term & School Year:</label>

    <mat-form-field style="width: 250px;">
      <mat-label>Select Term & School Year</mat-label>
      <mat-select [(ngModel)]="activeTerm" name="activeTerm">
        <mat-option *ngFor="let item of combinedOptions" [value]="item.value">
          {{ item.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Fetch Button -->
  <div>
    <button mat-raised-button color="primary" (click)="generateCode()">Fetch</button>
  </div>
</form>
<br>
<!-- Table for codes -->
<table mat-table *ngIf="codes && codes.length > 0"
       [dataSource]="codes"
       class="mat-elevation-z8"
       style="width: 100%; margin-top: 10px;">

  <!-- Code No Column -->
  <ng-container matColumnDef="codeNo">
    <th mat-header-cell *matHeaderCellDef> Code No </th>
    <td mat-cell *matCellDef="let c"> {{ c.codeNo }} </td>
  </ng-container>

  <!-- Subject ID Column -->
  <ng-container matColumnDef="subjectId">
    <th mat-header-cell *matHeaderCellDef> Subject ID </th>
    <td mat-cell *matCellDef="let c"> {{ c.subjectId }} </td>
  </ng-container>

  <!-- Subject Title Column -->
  <ng-container matColumnDef="subjectTitle">
    <th mat-header-cell *matHeaderCellDef> Descriptive Title </th>
    <td mat-cell *matCellDef="let c"> {{ c.subjectTitle }} </td>
  </ng-container>

  <!-- Day Column -->
  <ng-container matColumnDef="day">
    <th mat-header-cell *matHeaderCellDef> Day </th>
    <td mat-cell *matCellDef="let c"> {{ c.day }} </td>
  </ng-container>

  <!-- Time Column -->
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef> Time </th>
    <td mat-cell *matCellDef="let c"> {{ c.time }} </td>
  </ng-container>

  <!-- Room Column -->
  <ng-container matColumnDef="roomNumber">
    <th mat-header-cell *matHeaderCellDef> Room </th>
    <td mat-cell *matCellDef="let rn"> {{ rn.roomNumber }} </td>
  </ng-container>

  <!-- Table Header and Rows -->
  <tr mat-header-row *matHeaderRowDef="['codeNo', 'subjectId', 'subjectTitle', 'day', 'time', 'roomNumber']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['codeNo', 'subjectId', 'subjectTitle', 'day', 'time', 'roomNumber'];"></tr>
</table>

  <div *ngIf="!codes || codes.length === 0" style="text-align:center; padding:20px;">
    -No data-.
</div>
